body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.user-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.user-pill {
  width: 800px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
